@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --border-radius: 5px;
}
.App {
  color: white;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
}

@media (min-width: 850px) {

  nav li:last-child {
    float: right;
  }
}

@media (max-width: 576px) {
 
}

/** NAV **/
nav {
  position: fixed;
  z-index: 1;
  font-size: 14pt;
  margin: 0 auto;

 
  ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
    list-style-type: none;
  }


  a {
    color: white;
    text-decoration: none;
    display: block;
  }

 
  button {
    background-color: transparent;
    border: none;
    color: white;
    height: 100%;
    margin-right: auto;
  }

  input {
    background-color: black;
    border: white solid 1px;
    color: white;
  }
  
}

#search {
  background-image: url(./media/search.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
  padding: 10px 15px 10px 20px;
}

.active {
  font-weight: bold;
}


.featured-media {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 500px;
  color: white;

  & > .featured-info {
    position: absolute;
    top: 200px;
    left: 2rem;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 500px;
    color: white;

   
    #play-button {
      position: absolute;
      display: flex;
      gap: .3rem;
      top: 200px;
      padding: 5px;
      width: 120px;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
      border: none;
      border-radius: var(--border-radius);
    }

    #info-button {
      display: flex;
      gap: .3rem;
      position: absolute;
      top: 200px;
      left: 140px;
      padding: 5px;
      width: 120px;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
      border: none;
      border-radius: var(--border-radius);
    }

    & > .netflix-tag {
      display:flex;
      align-items: center;

      text-transform: uppercase;
      font-family: 'Courier New', Courier, monospace;
      font-size: 15pt;
      font-weight: 600;
      letter-spacing: .5rem;


      img {
        width: 20px;
        padding-left: 3px;
        padding-right: 5px;
      }
    }
    & > #logo-sm {
      width: 40px;
      padding-right: 5px;
    }


    & > .title {
      position: absolute;
      top: 50px;
      z-index: 1;
      padding: 0;
      margin: 0;

      text-transform: uppercase;
      font-size: 50px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
    

    & > .description {
      padding-left: 3px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14pt;
      position: absolute;
      top: 90px;
      z-index: 1;
      color: white;
    }

  }
  
}


#featured-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

main {
  position: relative;
}

.container {
  display: flex;
  flex-flow: column;

  height: 275px;
  margin-bottom: 2rem;

  h2 {
    padding-top:  20px;
  }
}

.media-group {
  max-width: 1000px;
  height: auto;
  position: relative;
  margin-left: 2rem;
  display: flex;

  gap: .5rem;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 


}
.media-group::-webkit-scrollbar {
  display: none;
}

.media-group:hover .item:hover {
  opacity: 1;
  
}
.media-group:hover .item{
  opacity: .5;
}

.item:hover ~ .item {
  transform: translateX(25%);
}

.item:hover {
  transform: scale(1.5) !important;
  min-width: 300px;
  min-height: 250px;
}

.item {
  min-width: 250px;
  min-height: 150px;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  figcaption {
    background-color: gray;
  }
}



h2 {
  padding-left: 2rem;
  padding-bottom: .5rem;
  margin: 0;
}

footer {
  text-align: center;
}