@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
}
@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

* {
  box-sizing: border-box;
}
.visually-hidden,
.sr-only {
  /* hides content except when viewed by screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

.bg-black {
  background-color: black;
}

.logo {
  color: #e50914;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 5px;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.slider-container {
  padding-left: 3vw;
  padding-right: 4vw;
  margin: 3vw 0;
  z-index: 0;
  width: 100%;

  h2 {
    font-size: 16pt;
  }
}

.row {
  position: relative;
  padding: 0;
  height: fit-content;
  width: 100vw;
}

.media-group {
  margin: 0;
  padding: 0 4%;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  max-width: 1000px;
  height: 150px;

  position: relative;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.media-group::-webkit-scrollbar {
  display: none;
}

.item-group {
  img {
    border-radius: var(--border-radius);
  }
}


h2 {
  margin: 0;
  padding: 0;
}

.slider-button {
  position: absolute;
  z-index: 2;
  display: block;
  width: 50px;
  height: 150px;

   background-color: rgb(0, 0, 0, .5);
}

.left {
  top: 0;
}

.right {
  top: 0;
  right: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 850px) {
  nav li:last-child {
    float: right;
  }
  .featured-info .description {
    font-size: 9pt;
  }
}

@media (max-width: 756) {
  #featured-image {
    width: fit-content;
  }


.item,
.details,
.item-group {
  transition: all 0.2s 0.1s ease-in;
}

.row:hover {
  overflow-y: visible;
}
.item-group:hover .item {
  position: relative;
  z-index: 2;
  transform: translateY(-25%) scale(1.2);
}

.details {
  visibility: hidden;
  z-index: 5;
}

.item-group:hover .details {
  visibility: visible;
  position: relative;
  z-index: 5;

  transform: translateY(-25%) scale(1.2);
}
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
    scroll-behavior: auto;
  }

  *:not(.animates-without-motion),
  *:not(.animates-without-motion)::before,
  *:not(.animates-without-motion)::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
